<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
         testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
         printerClass="PHPUnit_TextUI_ResultPrinter"
         timeoutForSmallTests="20"
         timeoutForMediumTests="60"
         timeoutForLargeTests="180"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap.php"
         cacheTokens="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         verbose="false">
    <log type="coverage-clover" target="./build/logs/clover.xml" />
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
        <exclude>
            <directory>./vendor</directory>
            <directory>./tests</directory>
            <directory>./docs</directory>
        </exclude>
    </filter>
    <testsuites>
        <testsuite name="KitKat\Obozaxy Test Suite">
            <directory suffix="RunTest.php">./tests</directory>
        </testsuite>
    </testsuites>
    <env name="use_strict_mode" value="yes"/>
</phpunit>
